// loading configuration
@use '../../configuration/themes' as *;

// loading EcoComposer components
@use '../../components/accordion/accordion';
@use '../../components/styledButtons/ripple';
@use '../../components/tabs/tabs';
@use '../../components/theming/theming';

// loading partials
@use '../../partials/profiler/index';

// configuring components
@include theming.init-themes($themes);
@include ripple.create(
  ('themes': $themes)
);
@include tabs.create(
  (
    'count' : 2,
    'themes' : $themes,
    'border-radius' : 0 0 .5rem .5rem
  )
);
@include accordion.create(
  (
    'details-padding' : null,
    'themes': $themes
  )
);

#logs-container {
  // box
  box-sizing : border-box;
  padding    : 2rem;
  width      : calc(100% - #{index.$vertical-menu-width});

  // text
  font-size  : 1.6rem;
  // word-break is not supported by IE!
  @supports (word-break: break-word) {
    word-break : break-word;
  }

  @at-root .accordion--block {
    margin-left  : .1rem;
    margin-right : .1rem;

    @at-root .logs-container--item-container {
      box-shadow    : 0 0 .3rem #444;
      margin-bottom : 1rem;
      padding       : 1rem;
    }
  }

  @at-root .logs-container--label {
    width : 15rem;
  }

  @at-root .logs-container--message-container--label {
    width : 13.6rem;
  }

  @at-root .logs-container--label,
  .logs-container--message-container--label {
    // positioning
    display       : inline-block;
    margin-bottom : 1rem;

    // text
    font-size   : 2rem;
  }

  @at-root .yes-icon {
    color : #5bd75b;
  }

  @at-root .no-icon {
    color : #cb6767;
  }

  @at-root .ripple-link {
    text-decoration : none;
  }

  @at-root .requests--parameter--string {
    @include theming.to-theme(
      (
        #{&} : ('color', 'profiler--requests--parameter--string--color')
      )
    );
  }

  @at-root .requests--parameter--path {
    @include theming.to-theme(
      (
        #{&} : ('color', 'profiler--requests--parameter--path--color')
      )
    );
  }

  @at-root .message-container {
    border-style : solid;
    border-width : 0 0 0 0.3rem;
    padding-left : 1rem;
    border-color : #5781ff;
  }
}

// applying theme
@include theming.global-mass-theme();
