// loading configuration
@use '../../configuration/themes' as *;

// loading EcoComposer components
@use '../../components/accordion/accordion';
@use '../../components/styledButtons/ripple';
@use '../../components/table/table';
@use '../../components/tabs/tabs';
@use '../../components/theming/theming';

// loading partials
@use '../../partials/profiler/index';

// configuring components
@include theming.init-themes($themes);
@include ripple.create(
  ('themes': $themes)
);
@include table.init();
@include table.create();
@include tabs.create(
  (
    'count' : 2,
    'themes' : $themes,
    'border-radius' : 0 0 .5rem .5rem
  )
);
@include accordion.create(
  ('themes': $themes)
);

#logs-container {
  // box
  box-sizing : border-box;
  overflow   : auto;
  padding    : 2rem;
  width      : calc(100% - #{index.$vertical-menu-width});

  // text
  font-size  : 1.6rem;
  // word-break is not supported by IE!
  @supports (word-break: break-word) {
    word-break : break-word;
  }

  @at-root .ripple-link {
    text-decoration : none;
  }

  @at-root #logs-container td,
  #logs-container td::before {
    min-width : 14rem;
  }

  @at-root .requests--parameter--string {
    @include theming.to-theme(
      (
        #{&} : ('color', 'profiler--requests--parameter--string--color')
      )
    );
  }

  @at-root .trace-table--cli {
    max-width: 2rem;
  }
}

// applying theme
@include theming.global-mass-theme();
