// loading configuration
@use '../../configuration/themes' as *;

// loading EcoComposer components
@use '../../components/flexContainer/flexContainer';
@use '../../components/theming/theming';
@use '../../components/verticalMenu/verticalMenu';

// loading partials
@use '../../partials/otraPage/otraPage';
@use 'mobile';

// configuring components
@include theming.init-themes($themes);
@include flexContainer.create();
@include verticalMenu.init();
@include verticalMenu.create(
  (
    'border-radius' : 0 0 0.5rem 0,
    'themes' : $themes,
    'vertical-menu--background-image' : false,
    'width' : false
  )
);

$vertical-menu-width : 24rem;

.vertical-menu {
  &.vertical-menu--container--item :first-child {
    border-radius : 0;
  }

  &--container--item {
    &:hover:not(:active) {
      text-shadow : 1px 1px #6e7bcf;
    }

    &--link {
      text-decoration : none;
    }
  }
}

// applying theme
@include theming.global-mass-theme();
