// loading configuration
@use 'configuration/themes' as *;

// loading EcoComposer components
@use 'components/design/flexContainer/flexContainer';
@use 'components/design/theming/theming';
@use 'components/navigation/menu/menu';

// loading partials
@use 'partials/otraPage/otraPage';

// responsive
@use 'mobile';

// configuring components
@include flexContainer.init();
@include flexContainer.create();
@include menu.init();
@include menu.create(
  (
    border-radius : 0 0 .5rem * theming.$font-size 0,
    padding : null,
    themes : $themes,
    vertical-menu--background-image : false,
    width : false
  )
);

.otra-title--link {
  @include theming.to-theme(
    (
      #{&} : ('color', 'profiler--otra-title--link-color')
    )
  );
}

.menu-vertical {
  &.menu--container--item:first-child {
    border-radius : 0;
  }

  @at-root .menu--container--item {
    &:hover:not(:active) {
      text-shadow : 1px 1px #6e7bcf;
    }

    &--link {
      // box
      padding : 1rem * theming.$font-size;

      // text
      color           : inherit;
    }
  }
}
