/bundles
/cache
/cert
/config
/phpdoc/
/sassdoc
/vendor
/web
!**.gitkeep
/src/console/closure-compiler.log
/src/console/shellCompletions/shellCompletions.sh
/.idea
**/tests/coverageHtml
**/tests/coverage.xml
**/tests/report.xml
/**/.phpunit.result.cache
**/css/**/*.css*
**/scss/.sass-cache/**
**/js/**/*.js*
/tsconfig*
/tmp/
/.scannerwork/
/node_modules/
/.eslintrc.json
/logs/**.txt
/.eslintrc.json.dist
