cache/*
cert/*
logs/**
!logs/
!logs/dev/
!logs/prod/
!**.gitkeep
lib/myLibs/console/closure-compiler.log
.idea
tests/coverageHtml
tests/coverage.xml
tests/.phpunit.result.cache
**/css/*.css*
**/js/*.js*
