// Mixins
@mixin glowingRed() {
  color                   : $debug--file-color;
  text-shadow             : 0 0 1px $debug--file-text-shadow-color;
  background-image        : linear-gradient(90deg, $debug--file-gradient-primary-color, $debug--file-gradient-secondary-color);
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
}

@mixin glowingYellowGreen() {
  color       : $debug--line-color;
  text-shadow : 0 0 1px $debug--line-text-shadow-color;
}

// Rules

.dbg- {
  &fl {
    float : left
  }

  &fr {
    float : right
  }

  &hide {
    display : none !important;
  }

  &bar {
    // background
    background : linear-gradient(90deg, $debug-bar-background-primary-color, $debug-bar-background-secondary-color);
    box-shadow : 0 0 30px 0 #555 inset;

    // box
    padding : 5px 5px 8px;

    // positioning
    align-items : center;
    display     : flex;
    flex-wrap   : wrap;

    // text
    color       : #eee;
    font-family : $debug--font;
    // The font size style is here in order that CSS from the project that uses OTRA do not perturb the debug bar CSS.
    font-size   : 16px;
    text-shadow : 0 0 3px $debug--text-shadow-color;

    @at-root {
      .dbg--toggle,
      .dbg--toggle-small {
        // positioning
        margin      : 0 10px 0 auto;

        // animation
        transition  : text-shadow .25s;
        will-change : text-shadow;

        // text
        color       : $debug--toggle-color;
        text-shadow : 0 0 1px $debug--toggle-text-shadow-color;

        // others
        cursor      : pointer;

        &:hover {
          @include debugToggleHoverTextShadow;
        }
      }
    }
  }

  &on {
    color       : $debug--on-color;
    text-shadow : 0 0 3px $debug--on-text-shadow-color
  }

  &off {
    color       : $debug--off-color;
    text-shadow : 0 0 9px $debug--off-text-shadow-color;
  }

  &bar-xs {
    // background
    background-image : linear-gradient(90deg, #999, #bbb);

    // box
    padding       : 10px 2px;
    border-radius : 10px;

    // positioning
    float : right;

    // text
    text-indent: 10px;
  }

  &btn:active {
    box-shadow : 0 0 25px #fff inset;
    position   : relative;
    top        : 1px
  }

  &left-block {
    width : calc(100% - 60px)
  }

  &file {
    @include glowingRed();
    word-break: break-all;
  }

  &line {
    @include glowingYellowGreen();
  }

  &sql-logs {

    &::selection {
      background : $debug--logs-selection-color;
    }

    &::-moz-selection {
      background : $debug--logs-selection-color;
    }

    & > div {
      // background
      background : $debug--sql-logs-background-color;
      box-shadow : 0 0 2px 0 #aaa;

      // box
      box-sizing : border-box;
      margin     : 0 5px 5px 0;
      padding    : 5px;
      width      : 100%;

      // positioning
      clear      : both;
      display    : inline-block;

      &:hover {
        background : $debug--sql-logs-background-hover-color;
      }
    }

    @at-root {
      .sql-request {
        white-space : pre-wrap;
      }

      .sql-field {
        background              : linear-gradient(90deg, $debug--field-gradient-primary-color, $debug--field-gradient-secondary-color);
        color                   : $debug--field-color;
        text-shadow             : 0 0 1px $debug--field-text-shadow-color;
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
      }

      .sql-clause {
        @include glowingRed();
      }
    }
  }
}

.dbg-btn,
div.profiler .lb-btn {
  // animation
  transition : box-shadow .2s, color .2s, text-shadow .2s;
  will-change: box-shadow, color, text-shadow;

  // background
  background-image : radial-gradient($debug--button-background-gradient-primary-color, $debug--button-background-gradient-secondary-color);
  border        : none;
  border-radius : 4px;
  box-shadow    : 0 0 3px $debug--button-box-shadow-color;

  // box
  height  : auto;
  padding : 5px;
  display : inline-block;

  // text
  color       : $debug-buttons-text-color;
  text-shadow : 0 0 3px $debug--button-text-shadow-color;
  font-weight : 400;

  // others
  cursor : pointer;

  &:hover {
    color       : $debug-buttons-hover-text-color;
    box-shadow  : 0 0 4px $debug-buttons-hover-box-shadow-primary-color, 0 0 7px 3px $debug-buttons-hover-box-shadow-secondary-color;
    text-shadow : 0 0 1px $debug-buttons-hover-text-shadow-color;
  }
}

.div-error {
  // background
  background : $debug-error-background-color;

  // box
  height     : 100%;
  width      : 100%;

  // positioning
  position   : absolute;
  top        : 0;
}

// The text styles are here in order that CSS from the project that uses OTRA do not perturb the profiler CSS.
div.profiler {
  padding     : 1em;

  // text
  font-family : $debug--font;
  font-size   : 10px;
  line-height : 2em;

  @at-root
  {
    button.profiler-button {
      margin-right: .5em;
    }

    pre.sql-request {
      font-size: 0.8125em;
    }
  }

  &>div {
    font-size: 1.6em;
  }
}
