// Mixins
@mixin glowingRed() {
  color       : $debug--file-color;
  text-shadow : 0 0 3px $debug--file-text-shadow-color;
}

@mixin glowingYellowGreen() {
  color       : $debug--line-color;
  text-shadow : 0 0 3px $debug--line-text-shadow-color;
}

// Rules

.dbg- {
  &fl {
    float : left
  }

  &fr {
    float : right
  }

  &hide {
    display : none !important;
  }

  &bar {
    // background
    background    : rgba(67, 67, 67, 0.8);
    box-shadow    : 0 0 30px 0 #555 inset;

    // box
    padding       : 5px 5px 8px;

    // positioning
    display       : flex;
    align-items   : center;

    // text
    color       : #eee;
    font-family : $debug--font;
    // The font size style is here in order that CSS from the project that uses OTRA do not perturb the debug bar CSS.
    font-size   : 16px;
    text-shadow : 0 0 3px $debug--text-shadow-color;

    @at-root {
      .dbg--toggle,
      .dbg--toggle-small {
        // positioning
        margin      : 0 10px 0 auto;
        transition  : .25s;

        // text
        color       : $debug--toggle-color;
        text-shadow : 0 0 1px $debug--toggle-text-shadow-color;

        // others
        cursor      : pointer;

        &:hover {
          @include debugToggleHoverTextShadow;
        }
      }
    }
  }

  &on {
    color       : $debug--on-color;
    text-shadow : 0 0 3px $debug--on-text-shadow-color
  }

  &off {
    color       : $debug--off-color;
    text-shadow : 0 0 3px $debug--off-text-shadow-color;
  }

  &bar-xs {
    // background
    background : linear-gradient(#b8cdff 0%, #d6d6ff 45%, #b8beff 100%);
    border-top : solid #ddd 1px;
    box-shadow : 0 0 6px #fff, 0 0 6px #645eea, 0 0 6px #645eea;
    opacity    : 0.8;

    // box
    padding    : 5px;

    // positioning
    float      : right;
  }

  &btn:active {
    box-shadow : 0 0 25px #fff inset;
    position   : relative;
    top        : 1px
  }

  &left-block {
    width : calc(100% - 60px)
  }

  &file {
    @include glowingRed();
  }

  &line {
    @include glowingYellowGreen();
  }

  &sql-logs {

    &::selection {
      background : $debug--logs-selection-color;
    }

    &::-moz-selection {
      background : $debug--logs-selection-color;
    }

    & > div {
      // background
      background : $debug--sql-logs-background-color;
      box-shadow : 0 0 2px 0 #aaa;

      // box
      margin     : 0 5px 5px 0;
      padding    : 5px;
      width      : calc(100% - 5px);

      // positioning
      clear      : both;
      display    : inline-block;

      &:hover {
        background : $debug--sql-logs-background-hover-color;
      }
    }

    @at-root {
      .sql-request {
        white-space : pre-wrap;
      }

      .sql-field {
        color : #88f;
      }

      .sql-clause {
        @include glowingRed();
      }
    }
  }
}

.dbg-btn,
div.profiler .lb-btn {
  // animation
  transition    : color .2s, text-shadow .2s;

  // background
  background    : none repeat scroll 0 0 $debug--background-color;
  border        : 1px solid $debug--border-color;
  border-radius : 4px;
  box-shadow    : none;

  // box
  height        : auto;
  padding       : 5px;
  display       : inline-block;

  // text
  color         : $debug-buttons-color;
  font-weight   : 400;
  text-shadow   : none;

  // others
  cursor        : pointer;

  &:hover {
    color       : $debug--hover-color;
    text-shadow : 0 0 2px #7ac;
  }
}

.div-error {
  // background
  background : $debug-error-background-color;

  // box
  height     : 100%;
  width      : 100%;

  // positioning
  position   : absolute;
  top        : 0;
}

// The font size styles are here in order that CSS from the project that uses OTRA do not perturb the profiler CSS.
div.profiler {
  padding   : 1em;
  font-size : 10px;

  &>div {
    font-size: 1.6em;
  }

  @at-root pre.sql-request {
    font-size: 0.8125em;
  }
}
