#footer {
    background: url('/images/footer.png');
    background: rgba(200,210,210,0.4);
    text-align:center;
    color:#355F59;
    font-family:Arial,Helvetica,Sans-Serif!important;
    font-size:.6875em!important;
    font-weight:400!important;
    -moz-border-radius:0 0 20px 20px;
    -khtml-border-bottom-left-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:.625em 0
}

#designby {
    color:#FFF !important;
    font-family:LucidaHandwritingItalic;
    font-size:.675em;
    text-shadow: 0.1em 0.1em #377, 0.1em 0.1em 10px #333;
    margin-top:.625em;
    position: relative;
    width: 16.5em
}

#designby:before {
  /* box-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;
  content: " ";
  display: block;
  height: 1px;
  position: absolute;
  top: 1.7em;
  width: 16.5em */

    border-radius: 80px / 10px;
    box-shadow: 0 -7px 10px -4px rgba(255, 255, 255, 0.78);
    content: " ";
    display: block;
    height: 34px;
    position: absolute;
    top: 2.1em;
    width: 16.5em;
}
