/* Global generic rules */
body{
	background: #EAEAEA;
	font-family: "Bookman Old Style",Arial,Helvetica,Sans-Serif
}

.rightPad{ padding-right:5px }
#content{	padding:0 15px; width: calc(100% - 30px) }

/* Menu generic rules */
#menusContainer
{
	border-radius: 8px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.47);
	margin:0 15px 15px 15px;
}

#menus{
	border-radius: 8px;
	box-shadow: 3px 3px 6px rgba(228, 139, 39, 0.47);
	clear: both;
	display: table;
	float:left;
	text-shadow: 1px 1px rgba(123, 123, 123, 0.32);
	margin:15px;
	width:calc(100% - 30px);
}

.tab{
	background: linear-gradient(#E8E1D4 0%, #FCD484 100%) #EAEAEA;
	border-right: 1px solid rgba(0,0,0,0.2);
	color: #444;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: table-cell;
	padding:5px 0 5px 0;
	transition: .35s;
	vertical-align: middle
 }

.tab:hover{ box-shadow: 0 -6px 27px #F6B686 inset }

 .tab:first-child{border-radius: 8px 0 0 8px }
 .tab:last-child{ border-right:0; border-radius: 0 8px 8px 0 }

 .tab:active, .activeTab{ background: linear-gradient(rgba(255, 182, 111, 0.14) 0%, #F7924F 100%) #EAEAEA }

.activeTab{
 	cursor: default;
 	/*pointer-events: none*/
 }

/* Table generic rules */

table{
	/*background: linear-gradient(to bottom, rgba(209, 237, 180, 0) 0%, rgba(34, 81, 115, 0.2) 27%) no-repeat fixed 0 0 transparent;*/
	border: 1px solid #CCF;
	border-spacing: 0;
	border-radius:10px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.47);
	text-align: center;
	width:100%;
	white-space: normal
}

th{
	font-weight: normal;
	text-shadow: 1px 1px rgba(123, 123, 123, 0.32)
}

td:first-child, th:first-child {	border-left: 0}
tr:last-child>td { border-bottom: 0 }

td,th{
	border: 1px solid #CCF;
	border-width: 0 0 1px 1px;
	padding:3px 6px;
}

tr:nth-of-type(odd)>td { background: rgba(255, 255, 255, 0.48) }
tr>th:hover,tr>td:hover:not(.options){
	background: rgba(15, 16, 17, 0.06);
	border-radius:0;
	text-shadow: 1px 1px #CCC;
  transition: .3s
}
tr:last-child>td:first-child{	border-radius: 0 0 0 10px }
tr:last-child>td:last-child{	border-radius: 0 0 10px 0 }

td .input{ margin:0 !important}

#breadCrumb { margin-bottom: 10px }
#usersHeader th:nth-of-type(5){ width: 6.2em }
#usersHeader th:nth-of-type(6){ width: 7.8em }

.final{ background: rgba(15, 16, 17, 0.06) !important; border-top: 1px solid rgba(255, 255, 255, 0.54) }
.options{ background: #E4E8EA; border-top: 1px double rgba(255, 255, 255, 0.54) }

.field{ margin:0;	width:100% }

.field input{
	font-family: "Bookman Old Style",Arial,Helvetica,Sans-Serif;
	height:25px;
	font-size:1em
}

.smallBtn{ width:18px }
.softBtn {
  box-shadow: 1px 1px 2px #7E7E7E;
  color: #F1AC46;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  letter-spacing: -0.05em;
  margin: 3px 10px 3px 0;
  padding: 3px 4px 3px 5px;
  text-align: center;
  text-shadow: 1px 1px rgba(84, 84, 84, 0.1);
  transition: .25s;
}

.lightBtn { background: #F4F4F4 }

.softBtn:hover {
  transform: scale(1.05);
  transition: all .25s ease 0s;
}
.softBtn:active {
  box-shadow: 1px 1px 4px #aaa, 0 0 1px #f4f4f4 inset, 2px 2px 2px #f4f4f4 inset;
  transform: scale(1);
}

.input { margin-right: 10px } /* Rajout pour les templates associés */

.fontBtn{
	color: #F1AC46;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 0.8em;
	text-shadow: 1px 1px rgba(167, 121, 31, 0.5);
	vertical-align: top
}

#usersBody > tr:first-child input { width: 100% }
#add { padding: 3px 3px 3px 2px }

#delAll, .delete {	height: 1.2em }
#delAll:before, .delete:before {
  background: none repeat scroll 0 0 #F1AC46;
  box-shadow: 1px 1px 3px rgba(167, 121, 31, 0.5);
  content: "";
  display: inherit;
  height: 4px;
  margin: 8px 2px 3px 0;
  width: 10px
}

#valAll{
	font-size: 1.5em;
	line-height: 0.8em;
	padding: 3px;
	text-shadow: 1px 1px rgba(167, 121, 31, 0.5)
}

.paging {
	height: 0.9em;
	padding: 0 3px 3px 2px
}
.paging.disabled { color: #888; cursor: default }

#pageInd {
  display: inline-block;
  padding-top: 5px;
}

#limit { margin: 0 0 -7px 5px }
