/* Global generic rules */
html { overflow: hidden }
body {
	background: #EAEAEA;
	font-family: "Bookman Old Style",Arial,Helvetica,Sans-Serif
}

.circleBorder { border-radius: 50% }

.rightPad { padding-right:5px }
#content {
  padding:0 15px;
  width: calc(100% - 30px)
}

/* Menu generic rules */
#menusContainer
{
	border-radius: 8px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.47);
	margin:0 15px 15px 15px;
}

.menus
{
	border-radius: 8px;
	box-shadow: 3px 3px 6px rgba(228, 139, 39, 0.47);
	clear: both;
	display: table;
	float:left;
	text-shadow: 1px 1px rgba(123, 123, 123, 0.32);
	margin:15px;
  table-layout: fixed;
	width:calc(100% - 30px);
}

  #tab0 .menus {
    margin: 0 0 15px;
    width: 100%;
  }

.tab
{
	background: linear-gradient(#E8E1D4 0%, #FCD484 100%) #EAEAEA;
	border-right: 1px solid rgba(0,0,0,0.2);
	color: #444;
	box-sizing: border-box;
	cursor: pointer;
	display: table-cell;
	padding:5px 0 5px 0;
	transition: box-shadow .35s;
	vertical-align: middle
 }

.tab:hover{ box-shadow: 0 -6px 27px #F6B686 inset }

  .tab:first-child{border-radius: 8px 0 0 8px }
  .tab:last-child{ border-right:0; border-radius: 0 8px 8px 0 }

  .tab:active, .activeTab{ background: linear-gradient(rgba(255, 182, 111, 0.14) 0%, #F7924F 100%) #EAEAEA }

  .activeTab { cursor: default }

/* Table generic rules */

table {
	/*background: linear-gradient(to bottom, rgba(209, 237, 180, 0) 0%, rgba(34, 81, 115, 0.2) 27%) no-repeat fixed 0 0 transparent;*/
	border: 1px solid #CCF;
	border-spacing: 0;
	border-radius:10px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.47);
	text-align: center;
	width:100%;
	white-space: normal
}

  th {
  	font-weight: normal;
  	text-shadow: 1px 1px rgba(123, 123, 123, 0.32)
  }

  td:first-child, th:first-child {	border-left: 0}
  tr:last-child>td { border-bottom: 0 }

  td, th{
  	border: 1px solid #CCF;
  	border-width: 0 0 1px 1px;
  	padding:3px 6px;
    transition: background .3s, box-shadow .3s
  }

  tr:nth-of-type(odd)>td { background: rgba(255, 255, 255, 0.48) }
  tr>th:hover,tr>td:hover:not(.options)
  {
  	background: rgba(30, 30, 30, 0.06);
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.2) inset;
  	text-shadow: 1px 1px #CCC;
  }
  tr:last-child>td:first-child {	border-bottom-left-radius: 10px }
  tr:last-child>td:last-child {	border-bottom-right-radius: 10px }
  th:first-child{ border-top-left-radius: 10px }
  th:last-child{ border-top-right-radius: 10px }

  td .input{ margin:0 !important }
  td:nth-child(1):not(.options) { cursor:pointer }

#usersHeader th:nth-of-type(1) { width: 1em }
#usersHeader th:nth-of-type(5){ width: 8em }
#usersHeader th:nth-of-type(6){ min-width: 4em }
#usersBody td:nth-of-type(6){ white-space: nowrap }

.options{ background: #E4E8EA; border-top: 1px double rgba(255, 255, 255, 0.54) }

.field{ margin:0;	width:100% }

  .field input{
  	font-family: "Bookman Old Style",Arial,Helvetica,Sans-Serif;
  	height:25px;
  	font-size:1em
  }

.smallBtn{ width:18px }

.softBtn {
  /*backface-visibility: hidden;*/
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 1px 1px 2px #7E7E7E;*/
  box-shadow: 1px 1px 2px rgba(126, 126, 126, 0.5);
  display: inline-block;
  margin: 3px 6px 3px 0;
  padding: 6px;
  transition: transform .25s, background-color .25s;
  -webkit-transform-style: flat;
     -moz-transform-style: flat;
          transform-style: flat;
  position: relative;
  z-index:0;
}

  .softBtn:hover:not(.disabled)
  {
    cursor: pointer;
    /*
       * The fix for WebKit/Blink browsers.
       */
      -webkit-backface-visibility: hidden;

      /*
       * The fix for Firefox ... yes, it has to be on one, huge line.
       */
      filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="gaussian_blur"><feGaussianBlur in="SourceGraphic" stdDeviation="0" /></filter></defs></svg>#gaussian_blur');
    transform: scale(1.1); /* the rotation is only for Firefox to minimize the unvoluntary shake effect */
    /* Those following lines fix bugs in browsers about z-index problems when scaling */
    -webkit-transform-style: flat;
            transform-style: flat;
    z-index:1
  }

  .softBtn:active:not(.disabled)
  {
    box-shadow: 1px 1px 4px #aaa, 0 0 1px #f4f4f4 inset, 2px 2px 2px #f4f4f4 inset;
    transform: scale(1)
  }

  /*.softBtn:hover:after, .softBtn:active:after { transform: scale(1) }*/

  tr>th:hover .softBtn, tr>td:hover:not(.options) .softBtn
  {
    background-color: #FFF
  }

.softBtnNoImage
{
  color: #F1AC46;
  font-size: 1.1em;
  letter-spacing: -0.05em;
  text-align: center;
  text-shadow: 1px 1px rgba(84, 84, 84, 0.1);
}

.lightBtn { background: #F4F4F4 }

.input { margin-right: 10px } /* Rajout pour les templates associés */

.fontBtn
{
	color: #F1AC46;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 0.8em;
	text-shadow: 1px 1px rgba(167, 121, 31, 0.5);
	text-align: center
}

#usersBody > tr:first-child input { width: calc(100% - 5px) }
#add { padding: 3px 3px 3px 2px }

#delAll, .delete
{
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22512%22%20height%3D%22512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23f1ac46%22%20d%3D%22m432.54599%2C133.462006l-65.412994%2C-57.072006l-113.054993%2C134.324997l-113.111008%2C-137.012993l-61.513008%2C65.068001c33.791016%2C43.884995%2078.146019%2C89.796997%20123.688011%2C132.464981l-120.149002%2C142.752014l19.865005%2C22.628998c29.250992%2C-20.309998%2087.838989%2C-65.578003%20150.311981%2C-120.09201c63.662018%2C55.812012%20122.860992%2C101.335999%20151.300995%2C121.77301l21.438019%2C-19.442993l-122.105011%2C-147.903992c48.63501%2C-45.241013%2095.504028%2C-93.508011%20128.742004%2C-137.488007z%22/%3E%3C/svg%3E%0A') no-repeat center center / 16px 16px rgba(255, 255, 255, 0.8);
  height: 14px;
  width: 14px;
}

#delAll:hover, .delete:hover
{
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22512%22%20height%3D%22512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20id%3D%22svg_2%22%20d%3D%22m432.54599%2C133.462006l-65.412994%2C-57.072006l-113.054993%2C134.324997l-113.111008%2C-137.013l-61.513008%2C65.068008c33.791016%2C43.884979%2078.146019%2C89.796997%20123.688011%2C132.464981l-120.149002%2C142.752014l19.865005%2C22.628998c29.250992%2C-20.309998%2087.838989%2C-65.578003%20150.311981%2C-120.09201c63.662018%2C55.812012%20122.860992%2C101.335999%20151.300995%2C121.77301l21.438019%2C-19.442993l-122.105011%2C-147.903992c48.63501%2C-45.241028%2095.504028%2C-93.508011%20128.742004%2C-137.488007z%22%20fill%3D%22url%28%23svg_3%29%22/%3E%0A%20%3Cdefs%3E%0A%20%20%3ClinearGradient%20y2%3D%221%22%20x2%3D%221%22%20y1%3D%220%22%20x1%3D%220%22%20id%3D%22svg_3%22%3E%0A%20%20%20%3Cstop%20stop-color%3D%22%23ff0000%22%20offset%3D%220%22/%3E%0A%20%20%20%3Cstop%20stop-color%3D%22%23ffaa56%22%20offset%3D%221%22/%3E%0A%20%20%3C/linearGradient%3E%0A%20%3C/defs%3E%0A%3C/svg%3E%0A')  no-repeat center center / 16px 16px rgba(255, 255, 255, 0.6);
}
/*#delAll:before, .delete:before {
  background: none repeat scroll 0 0 #F1AC46;
  box-shadow: 1px 1px 3px rgba(167, 121, 31, 0.5);
  content: "";
  display: inherit;
  height: 4px;
  margin: 8px 2px 3px 0;
  width: 10px
}*/

.validate {
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22512%22%20height%3D%22512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill%3D%22%23f1ac46%22%20d%3D%22m50%2C236.160004c47.389%2C9.878998%20111.237%2C24.501984%20157.389008%2C54.544983c54.195007%2C-72.617981%20148.666992%2C-141.998993%20254.610992%2C-197.831985c-100.610992%2C99.166%20-185.674988%2C213.119003%20-242.136002%2C326.254013c-45.514999%2C-64.654022%20-93.425995%2C-120.354004%20-169.863998%2C-182.96701z%22/%3E%0A%3C/svg%3E%0A') no-repeat center center / 16px 16px rgba(255, 255, 255, 0.6);
  height: 14px;
  width: 14px
}

  .validate:hover {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22512%22%20height%3D%22512%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20id%3D%22svg_3%22%20d%3D%22m50%2C236.160004c47.389%2C9.878998%20111.237%2C24.501984%20157.389008%2C54.544983c54.195007%2C-72.617981%20148.666992%2C-141.998993%20254.610992%2C-197.831985c-100.610992%2C99.166%20-185.674988%2C213.119003%20-242.136002%2C326.254013c-45.514999%2C-64.654022%20-93.425995%2C-120.354004%20-169.863998%2C-182.96701l0%2C0z%22%20fill%3D%22url%28%23svg_5%29%22/%3E%0A%20%3Cdefs%3E%0A%20%20%3ClinearGradient%20y2%3D%221%22%20x2%3D%221%22%20y1%3D%220%22%20x1%3D%220%22%20id%3D%22svg_4%22%3E%0A%20%20%20%3Cstop%20stop-color%3D%22%237fff00%22%20offset%3D%220%22/%3E%0A%20%20%20%3Cstop%20stop-color%3D%22%2300bf00%22%20offset%3D%221%22/%3E%0A%20%20%3C/linearGradient%3E%0A%20%20%3ClinearGradient%20y2%3D%221%22%20x2%3D%221%22%20y1%3D%220%22%20x1%3D%220%22%20id%3D%22svg_5%22%3E%0A%20%20%20%3Cstop%20stop-color%3D%22%23d4ffaa%22%20offset%3D%220%22/%3E%0A%20%20%20%3Cstop%20stop-color%3D%22%2300bf00%22%20offset%3D%221%22/%3E%0A%20%20%3C/linearGradient%3E%0A%20%3C/defs%3E%0A%3C/svg%3E%0A');
  }

.cancel {
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0D%0A%20%3Cg%3E%0D%0A%20%20%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%0D%0A%20%20%20%3Cg%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20fill%3D%22%23f1ac46%22%20id%3D%22svg_2%22%20d%3D%22m10%2C5.989014l0%2C9.010986l-9%2C0l2.898987%2C-2.903015c-1.298981%2C-1.185974%20-3.194%2C-3.408997%20-2.866974%2C-6.066986c0.598999%2C-3.033997%202.34198%2C-5.087006%207.019989%2C-5.087006c5.238983%2C0%207.02301%2C4.524017%207.02301%2C5.005005c-3.065002%2C-2.639984%20-5.205017%2C-2.951996%20-7.058014%2C-2.951996c-1.85199%2C0%20-2.968994%2C1.376007%20-2.968994%2C2.951996c0%2C1.033997%201.278992%2C2.175995%202.15799%2C2.838989l2.794006%2C-2.797974zm0%2C0%22/%3E%0D%0A%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat center center / 16px 16px rgba(255, 255, 255, 0.6);
  height: 14px;
  width: 14px
}
.cancel:hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%3E%3Cg%20fill%3D%22%23000000%22%20id%3D%22Group%22%20transform%3D%22translate%28-336.000000%2C%20-432.000000%29%22%3E%3Cpath%20d%3D%22M346%2C437.989323%20L346%2C447%20L337%2C447%20L339.899296%2C444.097264%20C338.600376%2C442.911115%20336.705115%2C440.688039%20337.032006%2C438.03039%20C337.630994%2C434.996143%20339.373914%2C432.942784%20344.052157%2C432.942784%20C349.290771%2C432.942784%20351.07511%2C437.467285%20351.07511%2C437.947574%20C348.009716%2C435.308356%20345.869521%2C434.996143%20344.017082%2C434.996143%20C342.164643%2C434.996143%20341.048114%2C436.372181%20341.048114%2C437.947574%20C341.048114%2C438.981521%20342.32698%2C440.123648%20343.206047%2C440.786591%20Z%20M346%2C437.989323%22%20/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0D%0A')
}

.paging {
	height: 0.9em;
	padding: 0 3px 3px 2px
}
.paging.disabled { color: #888; cursor: default }

#pageInd {
  display: inline-block;
  padding-top: 5px;
}

#limit { margin: 0 0 -7px 5px }
.seeDetails>img { vertical-align: -4px }

.edit
{
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle/%3E%3Cdefs/%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20id%3D%22miu%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%3E%3Cpath%20d%3D%22M6.52081529%2C19.553286%20L13.5208152%2C19.553286%20L13.5208151%2C3.55328599%20L6.52081521%2C3.55328599%20L6.52081529%2C19.553286%20Z%20M6.52081528%2C-0.476770888%20L6.52081528%2C2.47686997%20L13.5197166%2C2.47686992%20L13.5197166%2C-0.476770935%20C13.5197166%2C-1.47918477%2012.5173028%2C-1.47918477%2012.5173028%2C-1.47918477%20L7.52322913%2C-1.47918472%20C7.52322913%2C-1.47918472%206.52081528%2C-1.47918472%206.52081528%2C-0.476770888%20Z%20M6.50416988%2C20.5208153%20L10.0208153%2C25.5075707%20L13.5192284%2C20.5208153%20L6.50416988%2C20.5208153%20Z%22%20fill%3D%22%23f1ac46%22%20id%3D%22editor_pencil_pen_edit_write_glyph%22%20transform%3D%22translate%2810.020815%2C%2012.020815%29%20rotate%2845.000000%29%20translate%28-10.020815%2C%20-12.020815%29%20%22/%3E%3C/g%3E%3C/svg%3E%0D%0A') no-repeat center center / 16px 16px rgba(255, 255, 255, 0.6);
  height: 14px;
  width: 14px;
}

.edit:hover
{
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20id%3D%22miu%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%3E%3Cpath%20d%3D%22M6.52081529%2C19.553286%20L13.5208152%2C19.553286%20L13.5208151%2C3.55328599%20L6.52081521%2C3.55328599%20L6.52081529%2C19.553286%20Z%20M6.52081528%2C-0.476770888%20L6.52081528%2C2.47686997%20L13.5197166%2C2.47686992%20L13.5197166%2C-0.476770935%20C13.5197166%2C-1.47918477%2012.5173028%2C-1.47918477%2012.5173028%2C-1.47918477%20L7.52322913%2C-1.47918472%20C7.52322913%2C-1.47918472%206.52081528%2C-1.47918472%206.52081528%2C-0.476770888%20Z%20M6.50416988%2C20.5208153%20L10.0208153%2C25.5075707%20L13.5192284%2C20.5208153%20L6.50416988%2C20.5208153%20Z%22%20fill%3D%22%237984f8%22%20id%3D%22editor_pencil_pen_edit_write_glyph%22%20transform%3D%22translate%2810.020815%2C%2012.020815%29%20rotate%2845.000000%29%20translate%28-10.020815%2C%20-12.020815%29%20%22/%3E%3C/g%3E%3C/svg%3E%0D%0A')
}

.fontBtn:hover:not(.disabled)
{
  color: #7984f8;
  text-shadow: 1px 1px #d2d6ff;
}
