/* Hides the radio button */
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

/* Preparing the label */
input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
  position: relative; /* allow to position pseudo-elements */
  cursor: pointer;
}

.left-radio:not(:checked) + label,
.left-radio:checked + label
{
  padding-left: 20px
}

.right-radio:not(:checked) + label,
.right-radio:checked + label
{
  padding-right: 25px;
}

input[type="radio"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before
{
  background: #f8f8f8;
  border: 1px solid #aaa;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  content: '';
  height: 14px;
  position: absolute;
  width: 14px
}

.left-radio:not(:checked) + label:before,
.left-radio:checked + label:before
{
  left: 0;
  top: 0
}

.right-radio:not(:checked) + label:before,
.right-radio:checked + label:before
{
  right: 6px;
  top: -3px;
}

input[type="radio"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after
{
  color: #09ad7e;
  content: '\2022';
  font-family: sans-serif;
  font-size: 3.4em;
  position:absolute;
  transition: all .2s;
  vertical-align: top;
}

.left-radio:not(:checked) + label:after,
.left-radio:checked + label:after
{
  left: -1px;
  top: 1px
}

.right-radio:not(:checked) + label:after,
.right-radio:checked + label:after
{
  right: 7.5px;
  top: -11px;
}

/* Safari 6.1+ only */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media
{
    .input[type="radio"]:not(:checked) + label:after,
    input[type="radio"]:checked + label:after
    {
        top: -16px !important;
    }
}}

/* Chrome only */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
{
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after
  {
    top: -10px !important;
  }
}

/* Aspect if unchecked */
input[type="radio"]:not(:checked) + label:after
{
  opacity: 0;
  transform: scale(0);
}

/* Aspect if checked */
input[type="radio"]:checked + label:after
{
  opacity: 1;
  transform: scale(1);
}

div.cases-div {
  position: relative;
}
