// loading configuration
@use 'configuration/themes' as *;

// loading EcoComposer components
@use 'components/design/theming/theming';

:root {
  @supports (color-scheme : light dark) {
    color-scheme : light dark;
  }
}

body {
  // appearance
  background-repeat     : no-repeat;
  
  // box
  margin  : 0;
  padding : 0;
  
  @include theming.to-theme(
    (
      #{&} : (
        ('background-image', 'body--background-image'),
        ('color', 'body--color')
      )
    )
  );

  // background-attachment is not supported by Safari!
  @supports (background-attachment : fixed) {
    background-attachment : fixed;
  }
}

.otra-title {
  @include theming.to-theme(
    (
      #{&} : (
        ('background-image', 'otra--title--background-image'),
        ('text-shadow', 'otra--title--text-shadow')
      )
    )
  );

  // appearance
  background-repeat : no-repeat;
  box-shadow        : 0 0 .3rem  * theming.$font-size #000f70;

  // positioning
  margin  : 0;
  padding : 1rem * theming.$font-size 0;

  // size
  width : 100%;

  /* text */
  text-align  : center;
  font-size   : 2rem * theming.$font-size;
  font-weight : 400 * theming.$font-size;

  // appearance
  // background-attachment is not supported by Safari!
  @supports (background-attachment : fixed) {
    background-attachment : fixed;
  }
}
