<?php
/**
 * THE framework global config
 *
 * @author Lionel Péramo */

namespace config;

if (defined('CACHE_PATH') === false)
  define('CACHE_PATH', BASE_PATH . 'cache/');

// Framework core resources
define('CORE_VIEWS_PATH', CORE_PATH . 'views/');
// CORE_RESOURCES_PATH, CORE_CSS_PATH and CORE_JS_PATH are used for otra utilities like the debug bar
define('CORE_RESOURCES_PATH', OTRA_PROJECT === true ? '/vendor/otra/otra/src/resources/' : '/src/resources/');
define('CORE_CSS_PATH', CORE_RESOURCES_PATH . 'css/');
define('CORE_JS_PATH', CORE_RESOURCES_PATH . 'js/');

if (defined('SPACE_INDENT') === false)
  define('SPACE_INDENT', '  ');

define('VERSION', '1.0.0-alpha.2.2.0');
define('RESOURCE_FILE_MIN_SIZE', 21000); // n characters
define('FWK_HASH', '$2y$07$hu3yJ9cEtjFXwzpHoMdv5n'); // TODO Put in an environment variable

// require_once 'cause maybe the class OtraException will attempt to load it too !
require_once BASE_PATH . 'config/' . $_SERVER['APP_ENV'] . '/AllConfig.php';

$externalConfigFile = BASE_PATH . 'bundles/config/Config.php';

if (true === file_exists($externalConfigFile))
  require $externalConfigFile;
?>
