<?php
/**
 * THE framework global config
 *
 * @author Lionel Péramo
 */
declare(strict_types=1);

namespace otra\config;

use const otra\cache\php\{APP_ENV, BASE_PATH, BUNDLES_PATH, PROD};

const
  VERSION = '2023.0.0',
  RESOURCE_FILE_MIN_SIZE = 21000; // n characters

// require_once 'cause maybe the class OtraException will attempt to load it too !
require_once BASE_PATH . 'config/' . $_SERVER[APP_ENV] . '/AllConfig.php';

$externalConfigFile = BUNDLES_PATH . 'config/Config.php';

if (file_exists($externalConfigFile))
  require $externalConfigFile;

if ($_SERVER[APP_ENV] === PROD && PHP_SAPI !== 'cli')
  class_alias('otra\\cache\\php\\Router', 'otra\\Router');
