///
/// Flex container component.
///
/// @group Flex container
/// @access public
///
/// @since 1.0
/// @author Lionel Péramo
///

// loading sass modules
@use 'sass:map';

// loading sass partials
@use 'desktop';
@use 'mobile';

$defaults : (
  'align-content-start' : false,
  'align-content-center' : false,
  'align-items-center' : false,
  'direction-column' : false,
  'height' : auto,
  'justify-content-center' : false,
  'justify-content-space-around' : false,
  'justify-content-left' : false,
  'suffix' : '',
  'width' : 100%,
);

///
/// Main mixin that creates a themed accordion using `details` and `summary` markups
///
/// @access public
/// @param  {array} $options ()
///

@mixin create($options : ()) {
  $options : map.merge($defaults, $options);
  // extracting variables...
  // Suffix to allow different configurations for the same kind of component
  $height : map.get($options, 'height');
  $alignContentStart : map.get($options, 'align-content-start');
  $alignContentCenter : map.get($options, 'align-content-center');
  $alignItemsCenter : map.get($options, 'align-items-center');
  $directionColumn : map.get($options, 'direction-column');
  $justifyContentCenter : map.get($options, 'justify-content-center');
  $justifyContentSpaceAround : map.get($options, 'justify-content-space-around');
  $justifyContentLeft : map.get($options, 'justify-content-left');
  $width : map.get($options, 'width');

  .flex-container#{map.get($options, 'suffix')} {
    @if ($height != null) {
      height     : $height;
    }

    @if ($width != null) {
      width : $width;
    }

    box-sizing : border-box;
    display    : flex;
    flex-wrap  : wrap;

    @if ($alignContentStart) {
      &.align-content--start {
        align-content : start;
      }
    }

    @if ($alignContentCenter) {
      &.align-content--center {
        align-content : center;
      }
    }

    @if ($alignItemsCenter) {
      &.align-items--center {
        align-items : center;
      }
    }

    @if ($directionColumn) {
      &.direction-column {
        flex-direction : column;
      }
    }

    @if ($justifyContentCenter) {
      &.justify-content--center {
        justify-content : center;
      }
    }

    @if ($justifyContentSpaceAround) {
      &.justify-content--space-around {
        justify-content : space-around;
      }
    }

    @if ($justifyContentLeft) {
      &.justify-content--left {
        justify-content : left;
      }
    }
  }
}
