.table0
{
  th:nth-child(1) { cursor : pointer; }

  th:nth-child(1), td:nth-child(1) { width : 20px }

  td:nth-child(4), th:nth-child(4),
  td:nth-child(5), th:nth-child(5)
  {
    text-align : right;
    width : 50px
  }

  td:nth-child(7), th:nth-child(7) { width : 121px }
}

tr { text-align : right }

.see-details
{
  background : url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20enable-background%3D%22new%200%200%2018%2018%22%20height%3D%2218px%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%2218px%22%3E%0A%20%20%3Cpath%20d%3D%22M503.866%20477.974L360.958%20335.052c28.725-34.544%2046.017-78.912%2046.017-127.336%20c0-110.084-89.227-199.312-199.312-199.312C97.599%208.4%208.4%2097.6%208.4%20207.715c0%20110.1%2089.2%20199.3%20199.3%20199.3%20c48.435%200%2092.792-17.292%20127.336-46.017l142.908%20142.922L503.866%20477.974z%20M29.331%20207.715c0-98.334%2079.987-178.332%20178.332-178.332%20c98.325%200%20178.3%2080%20178.3%20178.332s-80.007%20178.332-178.332%20178.332C109.318%20386%2029.3%20306.1%2029.3%20207.715z%22%20fill%3D%22%2337404D%22/%3E%0A%3C/svg%3E%0A') no-repeat center center / 16px 16px rgba(255, 255, 255, 0.8);
  height     : 26px; width : 26px
}

.module-0__menus
{
  margin: 0 0 15px;
  width: 100%;
}
