////
/// @group Vertical menu
/// @since 2.2
/// @author Lionel Péramo
////

// loading sass module list
@use 'sass:map';
@use 'sass:list';

// loading theming component
@use '../../components/theming/theming';

$defaults : (
  'border-radius' : 0 .5rem .5rem 0,
  'margin-top' : 0,
  'margin-bottom' : 0,
  'padding' : 1rem,
  'vertical-menu--background-image' : 'vertical-menu--background-image',
  'vertical-menu--border' : 'vertical-menu--border',
  'vertical-menu--element--border' : 'vertical-menu--element--border',
  'vertical-menu--element--border-style' : 'vertical-menu--element--border-style',
  'vertical-menu--element--border-color' : 'vertical-menu--element--border-color',
  // -- states start
  // idle state
  'vertical-menu--element--background-image' : 'vertical-menu--element--background-image',
  'vertical-menu--element--color' : 'vertical-menu--element--color',
  // active state
  'vertical-menu--element-active--background-image' : 'vertical-menu--element-active--background-image',
  'vertical-menu--element-active--color' : 'vertical-menu--element-active--color',
  // focus state
  'vertical-menu--element-focus--background-image' : 'vertical-menu--element-focus--background-image',
  'vertical-menu--element-focus--color' : 'vertical-menu--element-focus--color',
  // hover state
  'vertical-menu--element-hover--background-image' : 'vertical-menu--element-hover--background-image',
  'vertical-menu--element-hover--color' : 'vertical-menu--element-hover--color',
  // states end --
  'vertical-menu--font' : 'vertical-menu--font',
  'suffix' : '',
  'width' : 26rem,
  'themes' :  (
    'light' : (
      'default--vertical-menu--background-image' : linear-gradient(#c6d8df 0%, #bedce8 45%, #c6d8df 100%),
      'default--vertical-menu--border' : 1px solid #000,
      'default--vertical-menu--element--border' : 1px solid #000,
      'default--vertical-menu--element--border-style' : solid,
      'default--vertical-menu--element--border-color' : #000,
      // -- states start
      // idle state
      'default--vertical-menu--element--background-image' : linear-gradient(45deg, #c6d8df, #bedce8),
      'default--vertical-menu--element--color' : #444,
      // active state
      'default--vertical-menu--element-active--background-image' : linear-gradient(45deg, #86acbb, #bedce8),
      'default--vertical-menu--element-active--color' : #44a,
      // focus state
      'default--vertical-menu--element-focus--background-image' : linear-gradient(45deg, #c6d8df, #bedce8),
      'default--vertical-menu--element-focus--color' : #44a,
      // hover state
      'default--vertical-menu--element-hover--background-image' : linear-gradient(45deg, #c6d8df, #bedce8),
      'default--vertical-menu--element-hover--color' : #44a,
      // states end --
      'default--vertical-menu--font' : '2rem system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif'
    ),
    'dark' : (
      'default--vertical-menu--background-image' : linear-gradient(#3e5e6a, #517a8a),
      'default--vertical-menu--border' : 1px solid #000,
      'default--vertical-menu--element--border' : 1px solid #000,
      'default--vertical-menu--element--border-style' : solid,
      'default--vertical-menu--element--border-color' : #000,
      // -- states start
      // idle state
      'default--vertical-menu--element--background-image' : linear-gradient(45deg, #1c2427 0%, #18252a 45%, #1c2427 100%),
      'default--vertical-menu--element--color' : #ccc,
      // active state
      'default--vertical-menu--element-active--background-image' : linear-gradient(45deg, #1c2427 0%, #2b414a 45%, #1c2427 100%),
      'default--vertical-menu--element-active--color' : #44a,
      // focus state
      'default--vertical-menu--element-focus--background-image' : linear-gradient(45deg, #185b77 0%, #204756 45%, #185b77 100%),
      'default--vertical-menu--element-focus--color' : #44a,
      // hover state
      'default--vertical-menu--element-hover--background-image' : linear-gradient(45deg, #1c2427 0%, #3d7085 45%, #1c2427 100%),
      'default--vertical-menu--element-hover--color' : #cc4,
      // states end --
      'default--vertical-menu--font' : '2rem system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif'
    )
  )
);

///
/// Mixin that creates menu element states for the vertical menu.
///
/// @access private
/// @param  {string} $state                - 'active', 'hover' or 'focus'
/// @param  {string} $backgroundImageValue - name of your theme variable for `background-image` like
/// 'vertical-menu--background-image'
/// @param  {string} $colorValue           - name of your theme variable for `color` like 'vertical-menu--color'
/// @param  {string} $suffix               - Suffix put after all the selectors
/// @param  {bool}   $themeUsed            - Are we using a theme?
///
@mixin _menuState($state, $backgroundImageValue, $colorValue, $suffix, $themeUsed) {
  &:#{$state} {
    @if ($backgroundImageValue != false) {
      @include theming.to-theme(
        (
          #{&} : ('background-image', $backgroundImageValue)
        ),
        $suffix,
        $themeUsed
      );
    }

    @if ($colorValue != false) {
      @include theming.to-theme(
        (
          #{&} : ('color', $colorValue)
        ),
        $suffix,
        $themeUsed
      );
    }
  }
}

///
/// Mixin that handles themed features for the vertical menu.
///
/// @access private
/// @param  {string} $property        - e.g. : 'background-image'
/// @param  {string} $value           - name of your theme variable for `background-image` like
/// 'vertical-menu--background-image'
/// @param  {string} $suffix          - Suffix put after all the selectors
/// @param  {bool}   $themeUsed       - Are we using a theme?
/// @param  {string} $specificity     - Do we have to add :not(.active) for example to the selector?
///
@mixin _handleThemedFeature($property, $value, $suffix, $themeUsed, $specifity: '') {
  @if ($value != false) {
    @include theming.to-theme(
      (
        #{&} + $specifity : ($property, $value)
      ),
      $suffix,
      $themeUsed
    );
  }
}

///
/// Vertical menu initialization mixin (generic code).
///
/// @access public
///
@mixin init() {
  .vertical-menu--container {
    box-sizing      : border-box;
    height          : 100%; // handles edge case when the menu is in a 'flex' container.
    list-style-type : none;
    padding-left    : 0;
  }

  .vertical-menu--container--item {
    cursor : pointer;
  }
}

///
/// Main mixin that creates vertical menus.
///
/// @access public
/// @param  {array} $options ()
///
@mixin create($options : ()) {
  $themeUsed : map.has-key($options, 'themes');
  $options : map.merge($defaults, $options);

  // extracting variables...
  $suffix : map-get($options, 'suffix');
  $border-radius : map.get($options, 'border-radius');
  $margin-top : map.get($options, 'margin-top');
  $margin-bottom : map.get($options, 'margin-bottom');
  $padding : map.get($options, 'padding');
  $width : map.get($options, 'width');

  // via themes
  $vertical-menu--background-image: map.get($options, 'vertical-menu--background-image');
  $vertical-menu--border : map.get($options, 'vertical-menu--border');
  $vertical-menu--element--border : map.get($options, 'vertical-menu--element--border');
  $vertical-menu--element--border-color : map.get($options, 'vertical-menu--element--border-color');
  $vertical-menu--element--border-style : map.get($options, 'vertical-menu--element--border-style');
  $vertical-menu--element--background-image : map.get($options, 'vertical-menu--element--background-image');
  $vertical-menu--element-active--background-image : map.get($options, 'vertical-menu--element-active--background-image');
  $vertical-menu--element-active--color: map.get($options, 'vertical-menu--element-active--color');
  $vertical-menu--element-focus--background-image : map.get($options, 'vertical-menu--element-focus--background-image');
  $vertical-menu--element-focus--color: map.get($options, 'vertical-menu--element-focus--color');
  $vertical-menu--element-hover--background-image : map.get($options, 'vertical-menu--element-hover--background-image');
  $vertical-menu--element-hover--color: map.get($options, 'vertical-menu--element-hover--color');
  $vertical-menu--font : map.get($options, 'vertical-menu--font');

  @include theming.add-themes(map-get($options, 'themes'));

  .vertical-menu#{$suffix} {
    &.vertical-menu--container {
      @include _handleThemedFeature('background-image', $vertical-menu--background-image, $suffix, $themeUsed);

      @if ($vertical-menu--border != false) {
        @include theming.to-theme(
          (
            #{&} : ('border', $vertical-menu--border)
          ),
          $suffix,
          $themeUsed
        );

        @if ($border-radius != false) {
          border-radius : $border-radius;
        }
      }

      @include _handleThemedFeature('font', $vertical-menu--font, $suffix, $themeUsed);

      @if ($width != false) {
        width : $width;
      }

      @if ($margin-top != false) {
        margin-top : 0;
      }

      @if ($margin-bottom != false) {
        margin-bottom : 0;
      }
    }

    &.vertical-menu--container--item {
      $selectorButNotActive : ':not(:active,' + #{&} + '-active,:hover,:focus)';

      @include _handleThemedFeature(
        'background-image',
        $vertical-menu--element--background-image,
        $suffix,
        $themeUsed,
        $selectorButNotActive
      );

      @if ($vertical-menu--element--border != false) {
        @if ($vertical-menu--element--border-style != false) {
          @include theming.theme(
            'border-style',
            $vertical-menu--element--border-style
          );
        }

        @if ($vertical-menu--element--border-color != false) {
          @include theming.theme(
            'border-color',
            $vertical-menu--element--border-color
          );
        }

        @if ($border-radius != false) {
          &:first-child {
            border-radius : 0 .5rem 0 0;
          }

          &:last-child {
            border-radius : 0 0 .5rem 0;
          }
        }

        &:not(:last-child) {
          border-width : 0 0 .1rem 0;
        }

        &:last-child {
          border-width : 0;
        }
      }

      //@if ($vertical-menu--element--color != false) {
      //  @include theming.to-theme(
      //    (
      //      #{&} : ('color', $vertical-menu--element--color)
      //    ),
      //    $suffix,
      //    $themeUsed
      //  );
      //}

      @if ($padding != false) {
        padding : $padding;
      }

      @include _menuState(
        'active,&-active',
        $vertical-menu--element-active--background-image,
        $vertical-menu--element-active--color,
        $suffix,
        $themeUsed
      );
      @include _menuState(
        'focus:not(:active, .vertical-menu--container--item-active):not(:hover)',
        $vertical-menu--element-focus--background-image,
        $vertical-menu--element-focus--color,
        $suffix,
        $themeUsed
      );
      @include _menuState(
        'hover:not(:active,.vertical-menu--container--item-active)',
        $vertical-menu--element-hover--background-image,
        $vertical-menu--element-hover--color,
        $suffix,
        $themeUsed
      );
    }
  }
}
