$primary : #ddd;
$secondary : #fff;
$tertiary : #333;
$quaternary : #999;
$quinary : #bfb;
$senary : #f77;
$septenary : #66f;
$octonary : #eee;
$nonary : #0f4;
$decenary : #0ef;
$another-shade : #666;
