// loading sass modules
@use 'sass:color';

// loading configuration
@use 'colors';
@use 'configuration/devModeFonts';
@use 'configuration/themes' as *;

// loading EcoComposer components
@use 'components/design/theming/theming';

// loading partials
@use 'partials/profiler/index';

// configuring components
@include theming.init-themes($themes);

$padding : 1rem;

.no-template-in-session {
  font-family : devModeFonts.$debug--font;
  font-size   : 16px;
  padding     : 0 1rem;
}

.template-structure--container {
  padding-left  : .5rem;
  padding-right : .5rem;
  // the following combination prevent to go outside the screen but taking all the space available in the flex container
  flex-grow : 1;
  width     : min-content;
}

.otra--template-rendering--title {
  color       : colors.$secondary;
  text-align  : center;
  text-shadow : 0 0 2px colors.$tertiary, 1px 1px 1px colors.$tertiary, 2px 2px 2px colors.$tertiary;

  // put to avoid CSS conflicts with the user project
  font-size   : 32px;
  font-weight : 700;

  @supports (-webkit-text-stroke : 1px colors.$another-shade) {
    -webkit-text-stroke : 1px colors.$another-shade;
  }
}

.otra-block--base,
.otra--code,
.otra-block--parent {
  border-radius    : .5rem;
  box-sizing       : border-box;
  display          : inline-block;

  // put to avoid CSS conflicts with the user project
  p,
  a,
  details {
    font-size : 16px;
  }
}

.otra-block--base,
.otra-block--parent {
  padding  : 4rem 2rem 2rem;
  position : relative;
}

.otra-block--base {
  // appearance
  background-image : radial-gradient(ellipse at center, colors.$primary, colors.$secondary);
  box-shadow       : .5rem .5rem .5rem colors.$quaternary;
  color            : colors.$tertiary;

  // size
  margin-bottom : 2rem;
  overflow      : auto;
  resize        : vertical;
  width         : 100%;

  &:target {
    background-image: radial-gradient(ellipse at center, color.adjust(colors.$nonary, $alpha: 0.8), color.adjust(colors.$decenary, $alpha: 0.8));
  }

  @at-root {
    .otra--block-tags {
      // positioning
      position : absolute;
      top      : .5rem; // to see the padding of each tag
      left     : 0;

      // put to avoid CSS conflicts with the user project
      font-size : 16px;

      @at-root {
        .otra--block-tags--key,
        .otra--block-tags--depth,
        .otra--block-tags--markup {
          // appearance
          color            : colors.$primary;
          background-color : colors.$tertiary;
        }

        .otra--block-tags--key,
        .otra--block-tags--depth,
        .otra--block-tags--markup,
        .otra--block-tags--ending-block {
          // cursor
          cursor : help;

          // size
          margin-right : .5rem;
          padding      : .5rem 1rem;
        }

        .otra--block-tags--key {
          border-radius : 0 0 .5rem 0;
        }

        .otra--block-tags--depth,
        .otra--block-tags--markup,
        .otra--block-tags--ending-block {
          border-radius : 0 0 .5rem .5rem;
        }

        .otra--block--ending-- {
          // 1 for true
          &1 {
            background-image : linear-gradient(45deg, color.adjust(colors.$quinary, $lightness: 5%), color.adjust(colors.$quinary, $lightness: 5%));
          }

          &false {
            background : linear-gradient(45deg, color.adjust(colors.$senary, $lightness: 5%), color.adjust(colors.$senary, $lightness: 5%));
          }
        }
      }
    }

    .otra--code {
      color       : colors.$septenary;
      font-family : 'Courier New', monospace;
      margin      : 0;
      word-break  : break-all;
      white-space : pre-wrap;

      // put to avoid CSS conflicts with the user project.
      background-color : inherit;
      font-size        : 13px !important; // !important is needed to increase massively specificity

      @at-root .otra--code--container {
        outline : 1px solid colors.$another-shade;

        @at-root .otra--code--container-highlight {
          background-color : colors.$octonary;
          color            : inherit;
          position         : relative;
        }
      }
    }

    .otra-block--parent--accordion {
      margin-top : 1rem;

      @at-root .otra-block--parent {
        background-image : radial-gradient(ellipse at center, colors.$octonary, colors.$secondary);
        box-shadow       : -1rem -1rem 2rem 0 #d6d6d6, 1rem 1rem 2rem 0 #bfbfbf;
        margin           : 1rem 0 0;
        width            : 100%;
      }
    }
  }
}

// applying theme
@include theming.global-mass-theme();
