<?php
declare(strict_types=1);

/** THE framework production config
 *
 * @author Lionel Péramo
 */
namespace otra\config;

use const otra\cache\php\{BUNDLES_PATH,CACHE_PATH};
use function otra\tools\secrets\getEncryptionKeyFromTPMDaemon;
use function otra\tools\secrets\getSecrets;

const CACHE_TIME = 300; // 5 minutes(5*60)

/**
 * @package config
 */
abstract class AllConfig
{
  public static int $verbose = 0;
  public static bool 
    $cssSourceMaps = true,
    $gcc = true;
  public static string
    /* To not make new AllConfig::$foo before calling CACHE_PATH, use directly AllConfig::$cachePath in this case
    (if we not use AllConfig::$foo it will not load AllConfig even if it's in the use statement so the "defines" aren't
    accessible) */
    $cachePath = CACHE_PATH,
    $defaultConn = '',  // mandatory to modify it later if needed
    $nodeBinariesPath = '/your/path/to/nodeBinFolder',  // mandatory to modify it later if needed  
  public static array
    $remote = [], // mandatory to modify it later if needed
    $debugConfig = [
      //      'maxChildren' => 130,
      'maxData' => 514,
      'maxDepth' => 6
    ], // mandatory to modify it later if needed
    $sassLoadPaths = [];
}

$secrets = false && file_exists(CACHE_PATH . 'php/preprodSecrets.php')
  ? getSecrets(getEncryptionKeyFromTPMDaemon())
  : [
    'databaseLogin'=> $_SERVER['TEST_LOGIN'],
    'databasePassword'=> $_SERVER['TEST_PASSWORD'],
  ];
AllConfig::$defaultConn = 'CMS';
AllConfig::$remote['db']['CMS']['login'] = $secrets['databaseLogin'];
AllConfig::$remote['db']['CMS']['password'] = $secrets['databasePassword'];
