{
  "compilerOptions": {
    "target": "es6",
    "module": "none",
    "sourceMap": true,
    "lib": [
      "es6",
      "dom"
    ],
    "noResolve": true,
    "pretty": true,
    "removeComments": true,
    "watch": true
  }
}
