// loading configuration
@use '../../configuration/themes' as *;

// loading EcoComposer components
@use '../../components/accordion/accordion';
@use '../../components/theming/theming';

// loading partials
@use '../../partials/profiler/index';

// configuring components
@include theming.init-themes($themes);
@include accordion.create(
  (
    'details-padding' : null,
    'themes': $themes
  )
);

#routes-container {
  // box
  box-sizing : border-box;
  overflow   : auto;
  padding    : 2rem;
  // the following combination prevent to go outside the screen but taking all the space available in the flex container
  flex-grow : 1;
  width     : min-content;

  // text
  font-size  : 1.6rem;
  // word-break is not supported by IE!
  @supports (word-break: break-word) {
    word-break : break-word;
  }

  @at-root .accordion--block {
    padding : 0 .1rem;

    @at-root .routes--block {
      box-shadow    : 0 0 3px #444;
      margin-bottom : 1.5rem;
      padding       : 1rem 2rem;

      &--title {
        // positioning
        margin : 0 0 2rem 0;

        // text
        font-size: 2.5rem;
        font-style  : italic;
        font-weight : normal;
      }

      &--line {
        margin-bottom : 1rem;

        @at-root {
          &--label {
            display : inline-block;
            width   : 10rem;
          }

          &--file-status--error,
          &--file-status--success {
            // border
            border-radius : .5rem;

            // positioning
            margin-right : .5rem;
            padding      : 0.25rem 0.5rem;

            // text
            @include theming.to-theme(
              (
                #{&} : ('color', 'profiler--routes--file-status--color')
              )
            );
          }

          &--file-status--error {
            @include theming.to-theme(
              (
                #{&} :(
                  ('background-color', 'profiler--routes--file-status--error--background-color'),
                  ('border', 'profiler--routes--file-status--error--border-color')
                )
              )
            );
            //border: .1rem solid
          }

          &--file-status--success {
            @include theming.to-theme(
              (
                #{&} :(
                  ('background-color', 'profiler--routes--file-status--success--background-color'),
                  ('border', 'profiler--routes--file-status--success--border-color')
                )
              )
            );
          }
        }
      }
    }
  }
}

// applying theme
@include theming.global-mass-theme();
