.btn
{
  box-shadow      : 0 0 3px #444 inset, 0 0 1px #444;
  cursor          : pointer;
  font-weight     : bold;
  color           : #779ba9;
  padding         : 0 5px;
  height          : 31px;
  border          : 1px groove #779ba9;
  border-radius   : 10px;
  background      : radial-gradient(ellipse at center, rgba(215, 216, 210, 0.6) 0%, rgba(191, 191, 170, 0.25) 100%); /* W3C */
  z-index         : -1;

  &:hover
  {
    border-color : #87abb9;
    color        : #92b7c4
  }

  &:active
  {
    border-style:inset;
    opacity:0.9
  }
}
//
//.soft-btn
//{
//  // background
//  border-radius : 5px;
//  box-shadow    : 1px 1px 2px #7e7e7e;
//  display       : inline-block;
//
//  // box
//  margin        : 3px 10px 3px 0;
//  padding       : 3px 4px 3px 5px;
//
//  // text
//  color         : #f1ac46;
//  text-align    : center;
//  text-shadow   : 1px 1px rgba(167, 121, 31, 0.5);
//
//  // others
//  cursor        : pointer;
//
//  &:hover { box-shadow : 1px 1px 2px #7e7e7e, 1px 1px 2px #7e7e7e inset }
//  &:active { box-shadow : 1px 1px 2px #7e7e7e inset, 0 0 1px #7e7e7e inset, 2px 2px 2px #7e7e7e inset }
//}

.small-btn { width: 25px }

.soft-btn
{
  /*backface-visibility: hidden;*/
  background              : rgba(255, 255, 255, 0.8);
  border                  : none; // for 'button' markup
  border-radius           : 3px;
  box-shadow              : 1px 1px 2px rgba(126, 126, 126, 0.5);
  display                 : inline-block;
  margin                  : 3px 6px 3px 0;
  padding                 : 6px;
  transition              : transform .25s, background-color .25s;
  -webkit-transform-style : flat;
  -moz-transform-style    : flat;
  transform-style         : flat;
  position                : relative;
  vertical-align          : middle;
  z-index                 : 0;

  &:hover:not(.disabled)
  {
    cursor: pointer;
    /*
       * The fix for WebKit/Blink browsers.
       */
    -webkit-backface-visibility: hidden;

    /*
     * The fix for Firefox ... yes, it has to be on one, huge line.
     */
    //filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><defs><filter><feGaussianBlur in="SourceGraphic" stdDeviation="0"/></filter></defs></svg>#gaussian_blur');
    transform: scale(1.1); /* the rotation is only for Firefox to minimize the unvoluntary shake effect */
    /* Those following lines fix bugs in browsers about z-index problems when scaling */
    -webkit-transform-style: flat;
    transform-style: flat;
    z-index:1
  }

  &:active:not(.disabled)
  {
    box-shadow: 1px 1px 4px #aaa, 0 0 1px #f4f4f4 inset, 2px 2px 2px #f4f4f4 inset;
    transform: scale(1)
  }

  &-no-image
  {
    color: #F1AC46;
    font-size: 1.1em;
    letter-spacing: -0.05em;
    text-align: center;
    text-shadow: 1px 1px rgba(84, 84, 84, 0.1);
  }
}
