.lights-container {
  left       : 10px;
  top        : 25px;
  position   : absolute;
  transition : left .25s, width .25s;
  width      : 75px;
}

.lights-relative-container { position : relative }

.light {
  // animation
  -webkit-animation : light-anim 2s linear infinite alternate;
  animation         : light-anim 2s linear infinite alternate;

  // display
  background        : #eee;
  box-shadow        : 0 0 1px 1px #c3c2ee,
                      1px 0 6px 5px #c3c2ee,
                      2px 0 1px 1px #c3c2ee;
  content           : '';
  display           : inline-block;

  // box
  left              : 0;
  position          : absolute;
  height            : 2px; width : 2px;

  &1
  {
    animation : light-anim 2s linear infinite alternate,
                light-anim2 2s ease -2s infinite alternate forwards
  }

  &2 { top: 5px }

  &3
  {
    animation : light-anim 2s linear infinite alternate, light-anim2 2s ease infinite alternate;
    top       : 10px;
  }
}

@keyframes light-anim {
0% { left : 0 }
100% { left : 100% }
}

@keyframes light-anim2 {
0% { top : 10px }
100% { top : 0 }
}

/*
@keyframes lightAnim3
{
0% { top: 20px }
50% { top: 0 }
}
*/
