@mixin notif($background, $border, $url)
{
  background : $background;
  border     : #{$border};
  box-shadow : 5px 5px 4px #888;

  &:before
  {
    content        : #{$url};
    margin-right   : 5px;
    vertical-align : -2px
  }
}

.fl { float : left }

.notif-wrapper
{
  position : relative;
  width    : 100%;
  z-index  : 1
}

.notification
{
  /* shadow */
  box-shadow     : 5px 5px 4px #888;

  /* box */
  box-sizing     : border-box;
  left           : 0.2%; /* pour que la bordure avec :after ne dépasse pas */
  padding        : 5px 0;
  position       : absolute;
  width          : 99.8%; /* pour que la bordure avec :after ne dépasse pas */

  /*others */
  pointer-events : none;

  /* text */
  color          : #fff;
  font-size      : 14px;
  text-align     : center;
  text-shadow    : black 0.1em 0.1em 0.2em;
}

.orange-notif
{
  @include notif(#ff7d33, '2px solid rgba(213, 201, 164, 0.25)', 'url(../images/error.png)');
}

.vert-notif
{
  @include notif(#97cf71, '1px solid #79b198', 'url(../images/info.png)');
}

.jaune-notif
{
  @include notif(#ffb200, '1px solid #eea600', 'url(../images/warning.png)');
}

.margin-b-neg { margin-top : 0 }
