.select
{
  display : inline-block;
  position : relative;

  @at-root
  {
    .actual-select-value
    {
      cursor : pointer;
      padding : 4px 4px 0 4px;

      @at-root
      {
        .actual-select-value__link { float : left }
        .select-arrow {
          /* border */
          border     : 6px solid transparent;
          border-top : 11px solid #89b !important; /* TODO find why we need this important */

          /* box */
          margin     : 3px 2px 0 6px;
          height     : 0; width : 0;

          /* display */
          content    : ' ';
        }
      }
    }

    .select-choices
    {
      /* box */
      min-width     : 100%; /* the choices must have at least the parent's width */
      position      : absolute;

      /* display */
      background    : rgba(242, 246, 255, 0.85);
      box-shadow    : 0 0 4px 0 #779ba9;
      display       : none;
      z-index       : 10;

      /* border */
      border        : 1px groove #779ba9;
      border-radius : 5px;

      /* others */
      cursor        : pointer;
      list-style    : none;

      @at-root
      {
        .select-choice
        {
          font-size : 0.875rem; padding : 4px;

          &:hover
          {
            background : linear-gradient(to top, rgba(198, 215, 222, 0.61) 0%, rgba(190, 220, 232, 0.48) 45%, #c6d8df 100%) repeat scroll 0 0 transparent
          }
        }
      }
    }

    .select-visible { display : block }
  }
}
