////
/// @author Lionel Péramo
/// @group Debug bar
////

// loading configuration
@use '../../configuration/devModeFonts';
@use '../../configuration/themes' as *;

// loading EcoComposer components
@use '../../components/design/theming/theming';

$debug-bar--size : 38px;

.dbg-bar--block {
  @include theming.to-theme(
    (
      #{&} : ('border-color', 'debug-bar--block--border-color')
    )
  );

  border-style     : solid;
  border-width     : 0 1px 1px 0;
  padding          : 11px 5px;

  // text
  // Chrome (not Firefox) needs this to avoid that native button font-family overrides the debug bar font family
  font-family : devModeFonts.$debug--font;
  font-size   : 16px;

  &:not(.dbg-bar--cache,.dbg-bar--logged,.dbg-bar--not-logged) {
    @include theming.to-theme(
      (
        #{&} : ('color', 'debug-bar--block--color')
      )
    );
  }

  &:not(:focus,:hover) {
    @include theming.to-theme(
      (
        #{&} : ('background-color', 'debug-bar--block--background-color')
      )
    );
  }

  &:hover,
  &:focus {
    @include theming.to-theme(
      (
        #{&} : (
          ('background-color', 'debug-bar--block--hover--background-color')
        )
      )
    );

    outline : 0;
  }

  @at-root .dbg-bar--toggle- {
    &bottom,
    &right {
      &:checked ~ .dbg-bar .dbg-bar--block--container {
        border-radius : 5px 5px 0 0;
      }
    }

    &left,
    &top {
      &:checked ~ .dbg-bar .dbg-bar--block--container {
        border-radius : 0 0 5px 5px;
      }
    }

    &left:checked ~ .dbg-bar .dbg-bar--block--container {
      height       : calc(100vw - 100% - 10px);
      top          : 100%;
      writing-mode : vertical-rl;
    }

    &right:checked ~ .dbg-bar .dbg-bar--block--container {
      height       : calc(100vw - 100% - 20px);
      top          : 100%;
      transform    : rotate(180deg);
      writing-mode : vertical-rl;
    }

    &bottom {
      &:checked ~ .dbg-bar .dbg-bar--block--container {
        bottom : 100%;
      }
    }

    &top {
      &:checked ~ .dbg-bar .dbg-bar--block--container {
        top : $debug-bar--size;
      }
    }

    // handles margins of the info boxes when the debug bar is on left/right sides
    &left,
    &right {
      &:checked ~ .dbg-bar .dbg-bar--block--container--element {
        margin-right : 0;

        &:last-child {
          margin-left : 0;
        }
      }
    }
  }

  &--container {
    @include theming.to-theme(
      (
        #{&} :
        (
          ('background-image', 'debug-bar--background-image'),
          ('box-shadow', 'debug-bar--box-shadow'),
          ('color', 'debug-bar--primary--color')
        )
      )
    );

    // positioning
    left     : 0;
    position : absolute;

    // size
    padding : 10px;

    // text
    word-break : break-all;

    &--element {
      font-size     : 16px; // put to avoid CSS conflicts with the user project
      margin-bottom : 0;
      margin-top    : 0;
    }
  }

  &:not(:focus) + div:not(:focus):not(:hover) {
    display : none;
  }

  &:focus + div,
  & + div:focus,
  & + div:hover {
    display : block;
  }
}
