////
/// @author Lionel Péramo
/// @group Debug bar
////

// loading configuration
@use 'configuration/devModeFonts';
@use 'configuration/themes' as *;

// loading EcoComposer components
@use 'components/design/theming/theming';

// loading mixins
@use 'mixins';

// loading partials
@use 'blocks';
@use 'toggle';

// initializing components
@include theming.init-themes($themes);

$debug-bar--size : 38px;

.otra--help-cursor {
  cursor : help;
}

.dbg-bar {
  // background
  @include theming.to-theme(
    (
      #{&} :
      (
        ('background-image', 'debug-bar--background-image'),
        ('box-shadow', 'debug-bar--box-shadow')
      )
    )
  );

  // box
  padding    : 0 5px 0 0;
  box-sizing : border-box;

  // positioning
  align-items : center;
  display     : flex;
  flex-wrap   : wrap;
  left        : 0;
  position    : fixed;
  right       : 0;
  z-index     : 10000;

  // text
  font-family : devModeFonts.$debug--font;

  // animation
  transition  : transform .2s;

  // For IE compatibility (needed by WebHint)
  @supports (will-change : transform) {
    will-change : transform;
  }

  // & = dbg-bar
  &-- {
    &btn:active {
      box-shadow : 0 0 25px #fff inset;
      position   : relative;
      top        : 1px;
    }

    &hide {
      display : none !important;
    }

    &primary {
      @include theming.to-theme(
        (
          #{&} : (
            ('color', 'debug-bar--primary--color'),
            ('text-shadow', 'debug-bar--primary--text-shadow')
          )
        )
      );
    }

    &logged {
      @include theming.to-theme(
        (
          #{&} : (
            ('color', 'debug-bar--logged-color'),
            ('text-shadow', 'debug-bar--logged-text-shadow')
          )
        )
      );
    }

    &not-logged {
      @include theming.to-theme(
        (
          #{&} : (
            ('color', 'debug-bar--not-logged-color'),
            ('text-shadow', 'debug-bar--not-logged-text-shadow')
          )
        )
      );
    }

    &cache {
      // positioning
      position : relative;

      @include theming.to-theme(
        (
          #{&} + '--disabled' : (
            ('color', 'debug-bar--cache--disabled--color'),
            ('text-shadow', 'debug-bar--cache--disabled--text-shadow')
          ),
          #{&} + '--enabled' : (
            ('color', 'debug-bar--cache--enabled--color'),
            ('text-shadow', 'debug-bar--cache--enabled--text-shadow')
          )
        )
      );
    }

    &block,
    &toggle {
      height     : 36px;
      box-sizing : border-box;
    }
  }
}
