////
/// @author Lionel Péramo
/// @group  Debug bar
////

// loading configuration
@use '../../configuration/devModeFonts';
@use '../../configuration/themes' as *;

// loading mixins
@use 'mixins';

// loading components
@use '../../components/theming/theming';

// configuring components
@include theming.init-themes($themes);

.lightbox {
  @media all and (prefers-color-scheme : light),
    all and (prefers-color-scheme : no-preference) {
    box-shadow : 0 0 10px #aaa;
  }

  @include theming.to-theme(
    (
      #{&} : ('background-image', 'lightbox--background-image')
    )
  );

  &--container {
    @include theming.to-theme(
      (
        #{&} : (
          ('color', 'lightbox--container--color'),
          ('text-shadow', 'lightbox--container--text-shadow')
        )
      )
    );

    // The text styles are here in order that CSS from the project that uses OTRA do not perturb the profiler CSS.
    @at-root .profiler {
      padding     : 2em;

      // text
      font-family : devModeFonts.$debug--font;
      font-size   : 10px;
      line-height : 2em;

      &--sql- {
        &logs {
          &::selection {
            @include theming.to-theme(
              (
                #{&} : ('background', 'profiler--sql--logs--selection-color')
              )
            );
          }

          &--element {
            // background
            @include theming.to-theme(
              (
                #{&} + ':not(:hover)' : ('background', 'profiler--sql--logs--background-color')
              )
            );

            box-shadow : 0 0 2px 0 #aaa;

            // box
            box-sizing    : border-box;
            margin-bottom : 5px;
            padding       : 20px 20px 0;
            width         : 100%;

            // positioning
            display         : flex;
            justify-content : space-between;

            &:hover {
              @include theming.to-theme(
                (
                  #{&} : ('background', 'profiler--sql--logs--hover--background-color')
                )
              );
            }

            &--file {
              @include mixins.glowingRed();

              word-break : break-all;
            }

            &--line {
              @include mixins.glowingYellowGreen();
            }

            &--left-block {
              width : calc(100% - 85px);
            }

            &--ripple {
              align-self: center;
            }
          }

          &--request {
            white-space : pre-wrap;
          }

          &--field {
            @include theming.to-theme(
              (
                #{&} : (
                  ('background-image', 'profiler--field--gradient'),
                  ('color', 'profiler--field--color'),
                  ('text-shadow', 'profiler--field--text-shadow')
                )
              )
            );

            -webkit-background-clip : text;
            -webkit-text-fill-color : transparent;
          }

          &--clause {
            @include mixins.glowingRed();
          }
        }
      }

      & > div {
        font-size: 1.6em;
      }

      @at-root {
        pre.sql-request {
          font-size: 0.8125em;
        }
      }
    }
  }
}
