////
/// @author Lionel Péramo
/// @group  Debug bar
////

// loading configuration
@use '../../configuration/devModeColors';
@use '../../configuration/devModeFonts';
@use '../../configuration/themes' as *;

// loading mixins
@use 'mixins';

// loading components
@use '../../components/styledButtons/ripple';

// configuring components
@include ripple.create(
  (
    'padding' : 10px 20px,
  )
);

// The text styles are here in order that CSS from the project that uses OTRA do not perturb the profiler CSS.
.profiler {
  padding     : 2em;

  // text
  font-family : devModeFonts.$debug--font;
  font-size   : 10px;
  line-height : 2em;

  &--sql- {
    &logs {
      &::selection {
        background : devModeColors.$debug--logs-selection-color;
      }

      &::-moz-selection {
        background : devModeColors.$debug--logs-selection-color;
      }

      &--element {
        // background
        background : devModeColors.$debug--sql-logs-background-color;
        box-shadow : 0 0 2px 0 #aaa;

        // box
        box-sizing : border-box;
        margin     : 0 5px 5px 0;
        padding    : 20px 20px 0;
        width      : 100%;

        // positioning
        display    : flex;

        &:hover {
          background : devModeColors.$debug--sql-logs-background-hover-color;
        }

        &--file {
          @include mixins.glowingRed();

          word-break : break-all;
        }

        &--line {
          @include mixins.glowingYellowGreen();
        }

        &--left-block {
          width : calc(100% - 85px);
        }

        &--ripple {
          align-self: center;
        }
      }

      &--request {
        white-space : pre-wrap;
      }

      &--field {
        background              :
          linear-gradient(
            90deg,
            devModeColors.$debug--field-gradient-primary-color,
            devModeColors.$debug--field-gradient-secondary-color
          );
        color                   : devModeColors.$debug--field-color;
        text-shadow             : 0 0 1px devModeColors.$debug--field-text-shadow-color;
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
      }

      &--clause {
        @include mixins.glowingRed();
      }
    }
  }

  & > div {
    font-size: 1.6em;
  }

  @at-root {
    pre.sql-request {
      font-size: 0.8125em;
    }
  }
}
