////
/// @author Lionel Péramo
/// @group Debug bar
////

// loading configuration
@use '../../configuration/themes' as *;

// loading EcoComposer components
@use '../../components/theming/theming';

// loading mixins
@use 'mixins';

.dbg-bar--toggle {
  // positioning
  display     : inline-block; // needed for transforms
  margin-left : 10px;

  // animation
  transition : text-shadow .25s;

  // For IE (needed by WebHint)
  @supports (will-change : text-shadow) {
    will-change : text-shadow;
  }

  // text
  @include theming.to-theme(
    (
      #{&} : ('color', 'debug-bar--toggle--color')
    )
  );

  font-size   : 20px;
  line-height : 36px;

  // others
  cursor      : pointer;

  &:not(:hover) {
    @include theming.to-theme(
      (
        #{&} : ('text-shadow', 'debug-bar--toggle--text-shadow')
      )
    );
  }

  &:hover {
    @include mixins.debugToggleHoverTextShadow;
  }

  // Arrows
  &-direction {
    position : fixed;
    left     : -10000px;
  }

  &-top {
    &:checked ~ #dbg-bar {
      top       : 0;
      transform : rotateZ(0deg);
    }
  }

  &-right {
    &:checked ~ #dbg-bar {
      top              : 0;
      transform-origin : top left;
      transform        : rotateZ(90deg) translateY(-100vw);
      width            : 100vh;

      & .dbg-bar--toggle {
        transform : rotateZ(-90deg);
      }
    }
  }

  &-bottom:checked ~ #dbg-bar {
    bottom : 0;
  }

  &-left {
    &:checked + #dbg-bar {
      top              : 0;
      transform-origin : top left;
      transform        : rotateZ(-90deg) translateX(-100%);
      width            : 100vh;

      & .dbg-bar--toggle {
        transform : rotateZ(90deg);
      }
    }
  }
}
